{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <h1>
<div class="container">



    <h1 class="mb-4">Про нас</h1>
    <p>Ласкаво просимо до нашого порталу вакансій. Ми створили цей сайт, щоб допомогти вам знайти роботу або знайти кваліфікованих кандидатів для вашої компанії. Наша мета - зробити процес пошуку роботи та рекрутингу простим і ефективним.</p>
    <h3>Наша місія:</h3>
    <p>Ми прагнемо об'єднати роботодавців та кандидатів у зручному та доступному середовищі.</p>
    <h3>Зв'язатися з нами:</h3>
    <p>Ви можете зв'язатися з нами через форму зворотного зв'язку на нашому сайті або написавши на нашу електронну пошту.</p>
    <h1>якщо ви хочете купити адмінку то ви її можете придбати подзвонивши нам за цим номером +380671234567 всьоголиш за 300грн</h1>
</div>
    </h1>
{% endblock %}