{% extends 'base.html' %}

{% block title %}Технології{% endblock %}



{% block content %}
<ul>
    {% for resume in projects %}
    <li>
    <div class="container mt-3">
        <div class="card border border-3 border-dark">
            <div class="card"> <!-- Клас bg-light для світло-сірого фону -->
                <strong>{{ resume.title }}</strong><br>
                <p>{{ resume.title_date }}</p>
                <img src="https://www.w3schools.com/bootstrap5/img_avatar1.png" alt="Моє улюблене зображення"  width="400">
                <a href="{% url 'resume_detail' resume.pk %}">Деталі резюме</a>
            </div>
        </div>
    </div>
</li>
    {% empty %}
    <li>Немає елементів для відображення.</li>
    {% endfor %}






    <a href="{% url 'resume_create' %}" class="btn btn-primary">Створити резюме</a>


    <a href="{% url 'resumekategoria' %}" class="btn btn-primary">Повернутися до списку категорій резюме</a>

    <h3>Знайди тут свою роботу</h3>
















</ul>
{% endblock %}