{% extends "base.html" %}

{% block title %}
    Деталі вакансії: {{ vacancy.title }}
{% endblock %}

{% block content %}



    <div class="container mt-3">
        <div class="card border border-3 border-dark">
            <div class="card"> <!-- Клас bg-light для світло-сірого фону -->




<div class="row">
    <div class="col-md-8">
        <h1>{{ vacancy.title }}</h1>
        <p><strong>Місто:</strong> {{ vacancy.city }}</p>
        <p><strong>Зарплата:</strong> {{ vacancy.salary }} грн</p>
        <p><strong>Освіта:</strong> {{ vacancy.education }}</p>
        <p><strong>Опис:</strong> {{ vacancy.description }}</p>
        <p><strong>Категорія:</strong> {{ vacancy.kategoria }}</p>

        <h4>Створено користувачем: {{ vacancy.creator.username }}</h4>

        <a href="{% url 'vacancy_list' %}" class="btn btn-primary">Повернутися до списку вакансій</a>

        {% if vacancy.creator == user %}
        <!-- Кнопка для видалення вакансії -->
        <form action="{% url 'vacancy_delete' vacancy.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Видалити вакансію</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}