{% extends 'base.html' %}

{% block title %}Технології{% endblock %}



{% block content %}
<ul>



<p>
    <a href="{% url 'vacancy_create' %}" class="btn btn-primary">Створити вакансію</a>


    <a href="{% url 'kategoria' %}" class="btn btn-primary">Повернутися до списку категорій вакансій</a>
</p>





    <a href="{% url 'vacancykyiv' %}" class="btn btn-primary">Київ</a>
    <a href="{% url 'vacancylviv' %}" class="btn btn-primary">Львів</a>
    <a href="{% url 'vacancyodessa' %}" class="btn btn-primary">Одеса</a>
    <a href="{% url 'vacancykharkiv' %}" class="btn btn-primary">Харків</a>
    <a href="{% url 'vacancydnipropetrovsk' %}" class="btn btn-primary">Дніпро</a>
    <a href="{% url 'vacancyzaporizhzhia' %}" class="btn btn-primary">Запоріжжя</a>
    <a href="{% url 'vacancycherkasy' %}" class="btn btn-primary">Черкаси</a>
    <a href="{% url 'vacancychernivtsi' %}" class="btn btn-primary">Чернівці</a>
    <a href="{% url 'vacancypoltava' %}" class="btn btn-primary">Полтава</a>
    <a href="{% url 'vacancyvinnytsia' %}" class="btn btn-primary">Вінниця</a>










    <h3>Знайди тут свою роботу</h3>


</ul>
{% endblock %}